.beanieProfile{
    display: block;
    min-width: 250px;
    margin: 1rem 0.5rem;
    border: 7px solid #000000;
    border-radius: 20px;
    width: 100%;

    img{
        margin-bottom: -0.4rem;
        width: 100%;
    }
}