.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  border-color: #fff;
  margin-top: 26px;
  margin-bottom: 0.8rem;
  background: #fff;
  padding: 0.8rem;


  .decrement, .increment {
    font-size: 40px;
    margin: 0 0.7rem;
  }

  div {
    cursor: pointer;
  }

}