@import  './lib/breakpoints.scss';

.faqContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;


    .faqTitle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        cursor: pointer;
        background: #FFFFFF;
        border: 5px solid #000000;
        border-radius:  16px;
        transition: 0.3s;

        @include media('<phone'){
            padding: 1rem 0.5rem;

        }

        @include media('>=phone', '<tablet'){
            padding: 1rem;
       
        }

        .faqTitleText{
            font-weight: 500;
            font-size: 28px;
            line-height: 51px;
            text-align: center;
            color: #231F20;

            @include media('<phone'){
                font-size: 18px;
                line-height: 23px;
            }

            @include media('>=phone', '<tablet'){
                font-size: 22px;
                line-height: 30px;       
            }
        }

        .expandIcon{
            width: 28px;

            @include media('<phone'){
                margin-top: 0.2rem;
                width: 25px;
            }

            @include media('>=phone', '<tablet'){
                margin-top: 0.2rem;
                width: 25px;       
            }

            img{
                width:100%;
            }
        }
    }

    .faqBody{
        background:#D8FFB7;
        padding: 2rem 1.5rem;
        border: 5px solid #000000;
        border-top: none;
        border-radius: 0 0 16px 16px ;
        transition: 0.3s;
        
        .faqBodyText{
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #2e2c2cf6;

            @include media('<phone'){
                font-size: 16px;
                line-height: 30px;
            }

            @include media('>=phone', '<tablet'){
                font-size: 20px;
                line-height: 40px;       
            }
        }
    }
}
