@import './lib/breakpoints.scss';
 
.gallery{
    display: flex;
    flex-direction: row;
    margin: 10rem auto;
    overflow: hidden;
    width: 98vw;

    @include media('<phone'){
        margin: 3rem auto;
        width: 90vw;
    }

    @include media('>=phone','<tablet'){
        margin: 4rem auto;
        width: 95vw;

    }

    @include media('>=tablet','<custom-view-1'){
        width: 97vw;

    }

    .galleryGrid{
        display: inline-flex;
        height: 100%;
        padding-left: 2%;
        animation: marquee 20s linear infinite;
        align-items: center;

        .galleryColumnTwo{
            padding-bottom: 5rem ;
            margin: 0 2rem;
        }

        .galleryColumnThree{
            padding-top: 5rem ;
        }
    }
}

// Scrolling animation

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}