@import './lib/breakpoints.scss';

.popupContainer{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;

    .popup{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 3;
        background-image: url('../public/assets/pngs/popup-bg.png'),linear-gradient(#ffffff, #ffffff);
        padding: 2rem;
        width: 100%;
        max-width: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        border-radius: 8px;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 0);

        @include media('<phone'){
            max-width: 250px;
        }

        @include media('>=phone', '<tablet'){
            max-width: 300px;
            padding: 1.3rem;       
        }

        .closePopupBtn{
            align-self: flex-end;
            background: none;
            border: none;
            cursor: pointer;
        }

        .popupMessage{
            margin: 3rem 0 6rem 0;
            text-align: center;
            align-self: center;

            @include media('<phone'){
                margin: 3rem 0 4rem 0;

            }
    
            @include media('>=phone', '<tablet'){
                margin: 3rem 0 4.5rem 0;
       
            }
        }

    }

    .popupMask{
        position: fixed;
        background: #0f6152ad;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
}