.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;

    .profileImg{
        max-width: 400px;

        img{
            width: 100%;
        }
    }

    .profileDetails{
        margin: 1rem 0;

        .position{
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 56px;
            text-align: center;
            color: #D8FFB7;
            text-transform: capitalize;
        }

        .name{
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}